@media (min-width: 782px) {

	@import "../navigation/menus-desktop";

	.home .site-main,
	.archive .site-main {
		.entry {
			float: left;
			width: 50%;
			height: 32vw;
			&.sticky {
				clear: both;
				width: 100%;
			}
		}
	}

	.archive-title {
		@include font-size(3);
	}

	.single,
	.page,
	.search-results,
	.error404 {
		.site-main {
			max-width: 780px;
			margin: 0 auto;
		}
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
	    float: left;
	    width: 31.8181818182%;
	    margin-right: 2.2727272727%;
	}

	.comment-form-url {
	    float: right;
	    margin-right: 0;
	}

	.form-submit input[type="submit"] {
		width: auto;
	}

	#footer-widget-1,
	#footer-widget-2 {
		float: left;
		width: 49.1525423729%;
		margin-right: 1.6949152542%;
	}

	#footer-widget-2 {
	    float: right;
	    margin-right: 0;
	}

	#secondary {
		width: 30rem;
	}

}
