button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-radius: 5px;
	background: $color__button;
	color: rgba(255, 255, 255, .8);
	@include font-size(1);
	font-weight: bold;
	line-height: 1;
	padding: 1rem 1.5em;
	transition: all 0.1s ease-in-out;
	box-shadow: inset 0px -1px 0 2px rgba(0, 0, 0, 0.1);

	&:hover,
	&:active,
	&:focus {
		background-color: $color__button-hover;
	}
}
