.widget {
	margin: 0 0 1.5em;

	/* Make sure select elements fit in widgets. */
	select {
		width: 100%;
	}
}

.widget-title {
	text-transform: uppercase;
	@include font-size(1.125);
	position: relative;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	&:before {
		background-color: $color__text-main;
		content: " ";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 32px;
		height: 1px;
	}
}

.widget_meta,
.widget_pages,
.widget_categories,
.widget_archive,
.widget_recent_entries,
.widget_recent_comments,
.widget_product_categories {
	ul,
	li {
		padding: 0;
		margin: 0;
		list-style-type: none;
		position: relative;
	}
	li {
		padding: .5rem 0;
		&:last-child {
			border-bottom-width: 0;
		}
		.children {
			margin-top: 1rem;
			margin-bottom: -1rem;
		}
	}
}

.widget_categories,
.widget_archive {
	span {
		float: right;
	}
}

.widget_nav_menu {
	ul,
	li {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	li li {
		border-left: 2px solid $color__text-tertiary;
		padding-left: 1.5rem;
	}

	a {
		color: $color__text-main;
		display: inline-block;
		font-weight: bold;
		padding: .5rem 0;
		text-transform: uppercase;
	}

	li li a {
		color: $color__text-secondary;
	}

	a:hover,
	a:focus,
	li.current_page_item > a,
	li.current-menu-item > a {
		color: $color__link-hover;
	}
}

.widget_calendar {
	caption {
		text-align: left;
	}
}

.widget_tag_cloud a {
    background-color: transparent;
    border: 1px solid $color__text-main;
    color: $color__text-main;
    display: inline-block;
    @include font-size(0.875);
    font-weight: normal;
    line-height: 1;
    padding: .25rem .5rem;
    margin-bottom: .25rem;
    text-transform: none;
    letter-spacing: 0;
    zoom: 1;
    position: relative;
	&:hover,
	&:focus {
	    background-color: $color__link;
	    border-color: $color__link;
	    color: #fff;
	    text-decoration: none;
	}
}

.site-footer .widget_tag_cloud a {
	border-color: #fff;
	color: #fff;
	&:hover,
	&:focus {
		background-color: $color__link;
		border-color: $color__link;
		color: #fff;
	}
}

.null-instagram-feed {

	ul,
	li {
		list-style-type: none;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

	li {
		float: left;
		width: 33.33%;
	}

	li a {
		display: block;
		position: relative;
		overflow: hidden;
		img {
			display: block;
			vertical-align: middle;
		}
		&:after{
			background-color: rgba(0,0,0,.5);
			content: " ";
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transition: all ease-in-out .25s;
		}
		&:hover:after,
		&:focus:after {
			background-color: rgba(0,0,0,0);
		}
	}

	.widget-more-link {
		background-color: #fff;
		color: #455A64;
		border-width: 0;
		padding: .5em 1.5em;
		margin: 0;
		text-align: center;
	}

}

.search-form {
	position: relative;
	input[type="search"] {
		width: 100%;
		padding-right: calc(30% + .75rem);
	}
	input[type="submit"] {
		position: absolute;
		top: 0;
		right: 0;
		width: 30%;
		padding-left: 0;
		padding-right: 0;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		padding-bottom: calc(1rem + 2px );
	}
}

#secondary {
	background-color: #fff;
	position: fixed;
	top: 0;
	right: 0;
	left: auto;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	opacity: 0;
    z-index: 8999;
    transform: translateX(100%);
	transition: transform 0.4s ease-out, width 0.4s ease-in, opacity 1s ease-out;
	box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.5);
	.sidebar-toggled & {
		transform: translateX(0%);
		opacity: 1;
	}

}

.sidebar-wrap {
	padding: 10% 20%;
}

#secondary::-webkit-scrollbar { width: 0 !important; }
#secondary { -ms-overflow-style: none; }
#secondary { overflow: -moz-scrollbars-none; }

#tertiary {
	.widget-title:before {
		background-color: rgba(255,255,255,0.1);
	}
}

#quaternary {
	position: relative;

	.widget {
		margin-bottom: 0;
	}

	.widget-title {
		display: none;
	}

	.widget-more-link {
		margin: 0;
	}

	.widget-more-link {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
