$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #eceff1;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

// Structure
$color__background-header: #263238;
$color__background-footer: #263238;

// Text
$color__text-main: #455A64;
$color__text-secondary: #90a4ae;
$color__text-tertiary: #B0BEC5;
$color__text-screen: #21759b;
$color__text-input: #607D8B;
$color__text-input-focus: #37474F;

// Link
$color__link: #EC407A;
$color__link-visited: purple;
$color__link-hover: #F06292;

// Button
$color__button: $color__link;
$color__button-hover: $color__link-hover;
$color__border-button: #D81B60;
$color__border-input: #CFD8DC;
$color__border-abbr: #666;

$color__campaign-kit: #4a8ff1;
