/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:focus {
		background-color: $color__background-screen;
		clip: auto !important;
		color: $color__text-screen;
		display: block;
		@include font-size(0.875);
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
		box-shadow: 0 10px 0 -5px rgba(0,0,0,0.25);
	}
}

/* Do not show the outline on the skip link target. */
#page[tabindex="-1"]:focus,
#site-navigation[tabindex="-1"]:focus,
#content[tabindex="-1"]:focus,
#secondary[tabindex="-1"]:focus,
#tertiary[tabindex="-1"]:focus,
#respond[tabindex="-1"]:focus,
.hentry[tabindex="-1"]:focus {
	outline: 0;
}
